# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe

out/
release/
go-exercism

# Intellij
/.idea

B004WY3D0O_EBOK.azw
	B004WY3D0O_EBOK.mbp
	B004WY3D0O_EBOK.phl
	B00555X8OA_EBOK.azw
	B00555X8OA_EBOK.mbp
	B00555X8OA_EBOK.phl
	B005ZOBNOI_EBOK.apnx
	B005ZOBNOI_EBOK.azw
	B005ZOBNOI_EBOK.mbp
	B005ZOBNOI_EBOK.phl
	B00EMXBDMA_EBOK.apnx
	B00EMXBDMA_EBOK.azw
	B00EMXBDMA_EBOK.mbp
	B00EMXBDMA_EBOK.phl
	B00O3GXESM_EBOK.azw
	B00O3GXESM_EBOK.mbp
	B00O3GXESM_EBOK.phl
	B00ZJD14DA_EBOK.azw
	B00ZJD14DA_EBOK.mbp
	John Schember/
	cli/
	metadata.db
	metadata_db_prefs_backup.json
